.TaskReminder {
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
.Control{
    padding: 20px;
    padding-left: 30%;
}
.Control .form-group{
    padding: 5px;
}