.FormReminder{
    .listItemReminder{
        padding-left: 50vh;
        padding-right: 50vh;
    }
    .btnClearReminder{
        padding-left: 45%;
    }
    .TaskReminder {
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        
    }
}
