.FormReminder{
    padding-left: 10px;
    padding-right: 10px;

    .listItemReminder{
        padding-left: 20vh;
        padding-right: 20vh;
    }
    .btnClearReminder{
        padding-left: 45%;
    }
    .TaskReminder {
        padding-top: 30px;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
        
    }
}
